---
layout: default
permalink: /words/
---


<div class="home">
  <div class="posts">

{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

{% for post in posts %}

  {% if post.tags contains 'words' %}

  <div class="post py3">

 <p class="post-meta">{{ post.date | date: site.date_format }}</p>

     <a href="{{ post.url }}" class="post-link">
     	<h3 class="h2 post-title"> {{ post.title }}</h3>
     </a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
 </div>

  {% endif %}
{% endfor %}
{% endfor %}

</div>
</div>

<div class="clearfix mb1 mt4">
  <div class="left">
    {% if page.previous %}
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}">
      <span class="pagination-item disabled"> &larr; older</span>
      </a>
    {% endif %}
  </div>

    <div class="right">
          {% if page.next %}
        <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}">
          <span class="pagination-item disabled">newer &rarr;</span>
        </a>
      {% endif %}
    </div>

  </div>
